body {
    font-family: monospace;
    font-size: 18px;
}

.title {
    text-align: center;
}

.suite {
    background: lightblue;
    border: groove;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

.suite__data {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.test {
    position: relative;
    border: groove;
    margin: 2px;
    padding: 5px;
}

.test--pass {
    background: lightgreen;
}

.test--fail {
    background: lightcoral;
}

.test--skip {
    background: lightgoldenrodyellow;
}

.test__time {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
}

.test__name {
    padding-right: 15%;
    display: block;
}

.buttons {
    margin: 2px;
    cursor: pointer;
    display: block;
    margin-bottom: 15px;
}

.button {
    background: lightblue;
    border: groove;
    text-align: center;
    padding: 5px;
}

.error {
    background-color: lightcoral;
    padding: 20px;
    margin: 31px;
    font-size: 24px;
}
