body {
    font-family: monospace;
    font-size: 16px;
}

.title {
    text-align: center;
}

.suite {
    background: lightblue;
    color: black;
    padding: 8px;
    margin: 3px 3px 3px 0;
    cursor: pointer;
    line-height: 20px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px 0 lightslategray;
    -moz-box-shadow: 1px 1px 2px 0 lightslategray;
    box-shadow: 1px 1px 2px 0 lightslategray;
}

.suite--contracted, .suite--expanded {
    border-left: 5px solid darkblue;
}

.suite--fail {
    border-left: 5px solid #FF3043;
}
.suite--pass {
    border-left: 5px solid #79EE61;
}

.suite--fail .suite {
    background: #FF585F;
}

.suite--pass .suite {
    background: #79EE61;
}

.suite:after {
    clear: both;
    display: block;
    content: " ";
    visibility: hidden;
    width: 0;
    height: 0;
}

.suite__name {
    float: left;
    font-size: 14px;
    padding-top: 1px;
}

.suite__name .flag {
    display: inline-block;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    margin-right: 5px;
}

.suite__name .flag.content {
    color: #FF3043;
}

.suite__name .flag.missing {
    color: darkblue;
}

.suite__name .flag.engine {
    color: #FF3043;
    background: yellow;
}

.suite__name .flag.bug {
    color: #FF3043;
}

.suite__name .flag.ta {
    color: green;
}

.suite__data {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    line-height: 20px;
}

.suite__summary {
    padding: 5px 25px;
    font-size: 12px;
}

.suite__summary > span {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px 0 0;
    background: lightgrey;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px 0 lightgrey;
    -moz-box-shadow: 1px 1px 1px 0 lightgrey;
    box-shadow: 1px 1px 1px 0 lightgrey;
}

.suite__summary .boolean {
    background: orange;
}

.tests {
    padding: 0 25px 25px;
}

.test {
    position: relative;
    margin: 2px 0px;
    padding: 5px;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px 0 lightslategray;
    -moz-box-shadow: 1px 1px 1px 0 lightslategray;
    box-shadow: 1px 1px 1px 0 lightslategray;
}

.test--pass {
    background: #79EE61;
}

.test--fail {
    background: #FF585F;
}

.test--skip {
    background: #EBFAAE;
}

.test__time {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px;
    font-size: 12px;
}

.test__name {
    padding-right: 15%;
    display: block;
}

.buttons {
    margin: 2px 2px 15px 2px;
    cursor: pointer;
    display: inline-block;
}

.button {
    background: lightsalmon;
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px 0 lightslategray;
    -moz-box-shadow: 1px 1px 1px 0 lightslategray;
    box-shadow: 1px 1px 1px 0 lightslategray;
}

#summary {
    margin: 2px;
    display: inline-block;
    font-size: 12px;
}

.error {
    background-color: lightcoral;
    padding: 20px;
    margin: 31px;
    font-size: 16px;
}
