<svg style="display: none">
    <symbol id="options__icon" width="36" height="38">
        <rect x="0" y="8" rx="2" ry="2" width="25" height="5" style="fill:#fff;"></rect>
        <rect x="0" y="15" rx="2" ry="2" width="25" height="5" style="fill:#fff;"></rect>
        <rect x="0" y="22" rx="2" ry="2" width="25" height="5" style="fill:#fff;"></rect>
    </symbol>
</svg>
<button id="optionsCollapsed" title="advanced search" class="options_container button-primary options_container__toggle" onclick="showOptions()">
    <svg width="25" height="38">
        <use xlink:href="#options__icon"></use>
    </svg>
</button>
<div id="optionsExpanded" class="options_container" style="display: none">
    <button class="flat button-primary u-full-width options_container__toggle" onclick="hideOptions()">
        <svg class="u-pull-left" width="36" height="38">
            <use xlink:href="#options__icon"></use>
        </svg>
        <span>SEARCH</span></button>
    <div id="options" class="options">
        <div class="option">
            <button class="option__title u-full-width button-primary flat" onclick="toggleContraction(this.parentElement)">SUITES</button>
            <div class="option__container">
                <button class="button-primary u-full-width" onclick="hidePassingSuites(this)">HIDE PASSING</button>
                <button class="button-primary u-full-width" id="contractSuits" onclick="contractSuites(this)">EXPAND ALL</button>
                <div class="search">
                    <button class="u-full-width" disabled>SEARCH</button>
                    <input class="u-full-width" type="text" oninput="searchSuites(this.value)" placeholder="suite names"></input>
                </div>
            </div>
        </div>
        <div class="option">
            <button class="option__title u-full-width button-primary flat" onclick="toggleContraction(this.parentElement)">TESTS</button>
            <div class="option__container">
                <button class="button-primary u-full-width" onclick="hidePassingTests(this)">HIDE PASSING</button>
                <button class="button-primary u-full-width" onclick="hideTests(this)">HIDE ALL</button>
                <button class="button-primary u-full-width" onclick="contractTests(this)">CONTRACT ALL</button>
                <div class="search">
                    <button class="u-full-width" disabled>SEARCH</button>
                    <input class="u-full-width" type="text" oninput="searchTests(this.value)" placeholder="test names and messages"></input>
                </div>
            </div>
        </div>
        <div class="option">
            <button class="option__title u-full-width button-primary flat" onclick="toggleContraction(this.parentElement)">PROPERTIES</button>
            <div class="option__container">
                <button class="button-primary u-full-width" onclick="hideProperties(this)">HIDE ALL</button>
                <button class="button-primary u-full-width" onclick="contractProperties(this)">CONTRACT ALL</button>
                <div class="search">
                    <button class="u-full-width" disabled>SEARCH</button>
                    <input class="u-full-width" type="text" oninput="searchProperties(this.value)" placeholder="propety keys and values"></input>
                </div>
            </div>
        </div>
    </div>
</div>
