<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <style type="text/css">
    .suite {
        border: solid 1px;
    }
    
    .suite_name {
        width: 100%;
    }
    
    .test {
        border: solid 1px;
        margin: 5px;
    }
    
    .test_name {
        width: 100%;
    }
    </style>
</head>

<body>
    <h1 id="title">{{title}}</h1>
    <div>
        <div id="options">
            <button>Filter Passing</button>
            <form>
                <fieldset>
                    <label>Search:</label>
                    <input type="text"></input>
                </fieldset>
            </form>
        </div>
        <div id="suites">{{{suites}}}</div>
    </div>
    <script type="text/javascript"></script>
</body>

</html>
