<div>
    <button class="button-primary u-full-width" onclick="contract(this.parentElement)">ADVANCED SEARCH</button>
    <div class="options hide--clicking">
        <div class="option">
            <button class="button-primary u-full-width option__name flat" onclick="contract(this.parentElement)">SUITES</button>
            <div class="options__cta row">
                <div class="u-full-width">
                    <button disabled class="options_search__name">SEARCH</button>
                    <input type="text" class="options_search__input" oninput="cta.search.suites(this.value)"></input>
                </div>
                <div class="options__buttons">
                    <button class="one-half column button-primary" onclick="cta.hide.passing.suites(this)">HIDE PASSING</button>
                    <button class="one-half column button-primary" onclick="cta.contract.suites(this)">CONTRACT</button>
                </div>
            </div>
        </div>
        <div class="option">
            <button class="button-primary u-full-width option__name flat" onclick="contract(this.parentElement)">TESTS</button>
            <div class="options__cta row">
                <div class="u-full-width">
                    <button disabled class="options_search__name">SEARCH</button>
                    <input type="text" class="options_search__input" oninput="cta.search.tests(this.value)"></input>
                </div>
                <div class="options__buttons">
                    <button class="one-third column button-primary" onclick="cta.hide.passing.tests(this)">HIDE PASSING</button>
                    <button class="one-third column button-primary" onclick="cta.hide.tests(this)">HIDE ALL</button>
                    <button class="one-third column button-primary" onclick="cta.contract.tests(this)">CONTRACT</button>
                </div>
            </div>
        </div>
        <div class="option">
            <button class="button-primary u-full-width option__name flat" onclick="contract(this.parentElement)">PROPERTIES</button>
            <div class="options__cta row">
                <div class="u-full-width">
                    <button disabled class="options_search__name">SEARCH</button>
                    <input type="text" class="options_search__input" oninput="cta.search.properties(this.value)"></input>
                </div>
                <div class="options__buttons">
                    <button class="one-half column button-primary" onclick="cta.hide.properties(this)">HIDE PROPERTIES</button>
                    <button class="one-half column button-primary" onclick="cta.contract.properties(this)">CONTRACT</button>
                </div>
            </div>
        </div>
    </div>
</div>
