:root {
  --fail: #E74C3C;
  --pass: #23D160;
  --error: #FFDD57;
  --skipped: #ECF0F1;
  --unknown: #3273DC;
}

.suites {
  & .fa {
    padding-right: 5px;
  }

  & .suite,
  & .test {
    margin-bottom: 10px;
  }

  & .properties {
    & .card-header {
      background-color: var(--skipped);
    }
  }


  & .is-fail {
    background-color: var(--fail);
  }

  & .is-pass {
    background-color: var(--pass);
  }

  & .is-error {
    background-color: var(--error);
  }

  & .is-skipped {
    background-color: var(--skipped);
  }

  & .is-unknown {
    background-color: color(var(--unknown) tint(50%));
  }

}
